.OurCoffeesContainer {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  @media (max-width: 700px) {
    margin-top: 25rem;
  }
}

.CoffeeList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 3.5rem;
  padding: 3.5rem 1.5rem 1.5rem 1.5rem;
  max-height: 80vh;
  overflow-y: overlay;
  min-width: fit-content;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 560px) {
    grid-template-columns: 1fr;
  }
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: gray;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.input {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
}

.input::placeholder {
  color: #999;
}